.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar--slider {
  padding: 10px 10px 0 20px;
  width: 10%;
}

.MuiTypography-root.MuiTypography-body1 {
  font-size: 15px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
  margin: 0 3% 0 10%;
}

.PrivateValueLabel-offset-3.MuiSlider-valueLabel {
  top: -30px;
  font-size: 0.7rem;
}

@media screen and (max-width: 600px) {
  .MuiTypography-root.MuiTypography-body1 {
    font-size: 12px;
  }

  .PrivateValueLabel-offset-3.MuiSlider-valueLabel {
    top: -26px;
    font-size: 0.7rem;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    margin: 0 3% 0 10%;
  }
}
