.Overlay {
  position: relative;
  max-height: 470px;
  max-width: 450px;
  border: 10px solid #fff;
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
  background-color: #fff;
  opacity: 0;
  z-index: -10;

  transition: all 0.4s ease-out;
}

.Overlay-img {
  max-height: 450px;
  max-width: 450px;
}

.Overlay p {
  background-color: #fff;
  font-style: italic;
  padding: 0;
}

.showing {
  opacity: 1;
  z-index: 1;

  transition: opacity 0.4s ease-out;
}

.fading {
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}

.Overlay-back-icon,
.Overlay-forward-icon,
.Overlay-back-btn,
.Overlay-forward-btn {
  position: absolute;
  top: 43%;
}

.Overlay-back-icon,
.Overlay-forward-icon {
  color: #ffff;
  top: 3px;
  opacity: 1;
}

.Overlay-back-btn,
.Overlay-forward-btn {
  width: 25px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: transparent;
  outline-color: #fff;
}

.Overlay-back-icon,
.Overlay-back-btn {
  left: 3px;
}

.Overlay-forward-icon {
  right: -3px;
}

.Overlay-forward-btn {
  right: 3px;
}

.disabled {
  color: #ccc;
}

@media only screen and (max-width: 600px) {
  .Overlay {
    max-width: 370px;
    max-height: 370px;
  }

  .Overlay img {
    max-width: 370px;
    max-height: 350px;
  }
}
