.Overlay-back-icon,
.Overlay-forward-icon,
.Overlay-back-btn,
.Overlay-forward-btn {
  position: absolute;
  top: 43%;
}

.Overlay-back-icon,
.Overlay-forward-icon {
  color: #ffff;
  top: 3px;
  opacity: 1;
}

.Overlay-back-btn,
.Overlay-forward-btn {
  width: 25px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: transparent;
  outline-color: #fff;
}

.Overlay-back-icon,
.Overlay-back-btn {
  left: 3px;
}

.Overlay-forward-icon {
  right: -3px;
}

.Overlay-forward-btn {
  right: 3px;
}



